$primary = #46413E
$unselected = #bbb
$active = #666
$subtle-border = #ddd
$brand-primary = #F8993F
$danger = #d00000

*
  box-sizing border-box

body
  margin 0
  padding 0
  background-color white
  font-family Lato, Helvetica, sans-serif

#root
  background-color white
  max-width 40rem
  min-height 100%
  margin 0 auto
  border-left 1px solid $subtle-border
  border-right 1px solid $subtle-border
  display grid
  grid-template-rows 3.75rem auto
  padding-bottom 5rem

.box a
  text-decoration none

.cols
  display flex
.cols + .cols
  border-top 1px solid $primary

.box
  overflow auto
  padding 0.5rem

.bar
  display inline-block
  height 0.5rem
  margin-right 1rem
  background-color #0091CD
  &.blank
    background-color transparent
  &.red
    background-color #D81F38
  &.green
    background-color #30C100

.bar + .bar
  margin-left -1rem

ul
  list-style-type none
  padding 0

tr.rotate.large
  th
    height 200px

  th > div
    transform translate(20px, 150px) rotate(315deg)
    width 0

tr.rotate.small
  th
    height 80px

  th > div
    transform translate(20px, 50px) rotate(315deg)
    width 0

table
  margin 1rem 0
  th
    white-space nowrap
    text-align left
    font-weight normal
  thead th
    vertical-align top
    padding 0.5rem 3rem 0.5rem 0
    h2
      margin 0
  td
    padding-right 1rem
    &.d
      text-align right
      font-family monospace
      font-size 16px
